body{
    font-family: monospace!important;
    background: rgb(151,208,192);
    
}

/*Nav Bar*/
.anvorguesa {
    background-color: #FFD34B!important;
}

ul li a{
    font-size: 1rem;
    text-transform: uppercase;
    
}

/*Contenedor y cards*/
.container{
    border-radius: 2rem 0rem;
    margin-bottom: 2rem;
    background-color: rgb(84,122,135);
    border: 0.5rem double  rgb(151,208,192);
}
.jumbotron{
    background-color: #fefefe!important;
}
.jumbotron p strong{
    text-transform: uppercase;
    color: lightcoral;
}

.btn-registro{
    background-color: rgb(250, 103, 90)!important;
    transition: all 0.2s ease-in-out;
}

.btn-registro:hover{
    background-color:  rgb(253, 75, 75)!important;
    color: #fefefe;
}


.card{
    border: none!important;
}

.card-header{
    background-color: rgb(255,116,104)!important;
    font-size: 1rem ;
    text-shadow: 0px 1px 1px rgb(92, 92, 92);
    -webkit-box-shadow: 0 3px 0 0 rgb(202, 81, 70);
    box-shadow: 0 3px 0 0 rgb(202, 81, 70);
    border-radius: 6px;
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.card-header a {
    color: #fefefe;
}

@media (min-width: 980px){
    #accordion{
        display: flex;
        flex-direction: row!important;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .card{
        flex-basis: calc(45% - 1rem);
        margin: 1.5rem 1rem;
        text-align: center;
    }
   
    .card-body p {
        text-align: left!important;
        line-height: 1.4rem;
    }

    .botonera{
        display: flex;
        flex-direction: column!important;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 0.5rem;
        padding-left: 0;
    }
    .botonera button{
        margin-bottom:0.5rem
    }
}

@media (min-width: 1280px){
    .container{
        width: 50%!important;
    }
    #accordion{
        display: flex;
        flex-direction: row!important;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        flex-basis: calc(46% - 1rem);
    }
}

.card{
    font-size: larger;
    margin-bottom: 1rem;
}